/**************************
Variables
**************************/
// Colors
@cool-grey: #3a3a3a;
@light-grey: #eee;
@dark-sky-blue: #8fbfe0;
@carmine: #e54b4b;
@russian-violet: #3d2645;
@picton-blue: #48beff;

@conrete-back: url("./images/concrete_seamless.png");

@theme-colors: red @carmine, purple @russian-violet, blue @dark-sky-blue, bblue @picton-blue;
@sub-theme: darken(@picton-blue, 50%);
// @randomizer: `Math.round(Math.random() * 4)`;

@black: #111;
@grey: #ddd;
@dark-grey: #666;
@brick: #b64635;
@main-blue: #2d3e64;
@light-blue: #dfe7ea;
@highlight-blue: #87b9f2;
@dark-blue: #1a2133;
@main-green: #6b844b;
@black-green: #323525;

@body-font: 'Quattrocento', Serif;
@header-font: 'Oswald', Sans-Serif;
@font-size: 15px;
@font-size-menu: @font-size + 17px;
@highlight: @dark-sky-blue;
@highlight-lighter: lighten(@highlight, 10%);
@highlight-back: #000;
@highlight-alt: @carmine;
@hover-transition: all .2s ease-out;

@desktop-min: 800px;
@header-height: 115px;


body {
	font-family: @body-font;
	font-size: @font-size;
	letter-spacing: -0.25px;
	color: #111;
	background-color: @light-grey;

	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
}

body::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -20;

	opacity: 0.75;
	background-image: @conrete-back;
}

h1, h2, h3 {
	font-family: @header-font;
	color: #fff;
	text-shadow: 2px 2px @black;
	text-transform: uppercase;
	letter-spacing: -2.5px;
}

h1 {
	font-size: @font-size + 29px;
	line-height: @font-size + 23px;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 240px;

	@media screen and (min-width: 500px) {
		margin-top: 10px;
		font-size: @font-size + 49px;
		line-height: @font-size + 45px;
		max-width: 75%;
	}
}

h2 {
	font-size: @font-size + 22px;
	font-weight: 900;
	color: @black-green;
	text-shadow: 2px 2px @light-blue;
}

h3 {
	font-size: @font-size + 14px;
	border-bottom: 1px solid #888;
}

h4 {
	font-family: @header-font;
	color: #333;
	font-size: @font-size + 6px;
	letter-spacing: -1px;
	margin-bottom: 2px;
}

header {
	position: relative;
	width: 100%;
	height: @header-height;
	top: 0;
	z-index: 19;
	background-color: @main-blue;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;
	box-shadow: 0px 4px 6px -4px @black;

	h4 {
		font-family: @body-font;
		color: @grey;
		margin: -10px 0 0;
		padding-top: 5px;
	}
}

.panels {
	width: 100%;
	height: calc(100vh - @header-height);
	display: flex;
}

.panel-left {
	display: none;

	@media screen and (min-width: @desktop-min) {
		position: relative;
		display: flex;
		width: 50%;
	}
}

.panel-right {
	display: flex;
	flex-flow: column;
	width: 100%;
	overflow-y: auto;

	@media screen and (min-width: @desktop-min) {
		width: 50%;
	}
}

.panel-image {
	position: sticky;
	width: 100%;

	background-image: url('./images/danny_landscape_opt.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

section {
	flex-grow: 1;
}

/**************************
Nav
**************************/
.nav-container {
	position: relative;
	width: 100%;
	z-index: 2;

	@media screen and (min-width: @desktop-min) {
		width: 50%;
		left: 50%;
	}
}

nav {
	background: @dark-blue;
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: -@header-height;
	padding-top: @header-height;

	transition: all 0.5s ease-out;
	font-family: @header-font;

	h1 {
		color: @dark-sky-blue;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		text-shadow: 2px 2px #000;
	}

	ul {
		list-style-type: none;
		padding: 20px 0;
	}

	li {
		display: table;
		padding: 6px 38px;
		margin: 8px auto;

		font-size: @font-size-menu;
		font-weight: 900;
		text-transform: uppercase;
		text-shadow: 2px 2px #000;
	}

	li:hover {
		color: @highlight-blue;
		transform: scale(1.25);
		transition: all 0.5s;
	}

}

.closed {
	transform: translate(0, -100%);
	opacity: 0.75;
}

.menu-button {
	position: fixed;
	display: inline;
	top: 20px;
	right: 20px;
	height: 25px;
	width: 25px;
	text-align: center;
	font-size: 16px;
	z-index: 2222222;
	color: #fff;
	transition: 0.3s;
}

.menu-button:hover {
	color: @highlight-blue;
}

.close-icon::after {
	content: '✕';
	color: @highlight-alt;
}

.ham-icon::after {
	content: '☰';
}


/**************************
Profile Section Styles
**************************/
#Profile {
	width: 100%;

	.profile-pic {
		display: block;

		height: 55vh;

		background-color: #fff;
		background-image: url("./images/danny_landscape_opt.jpg");
		background-position: 0 50%;
		background-size: cover;
		background-repeat: no-repeat;

		@media screen and (min-width: @desktop-min) {
			display: none;
		}
	}

	h2 {
		padding-bottom: 10px;
		border-bottom: 1px solid @grey;
	}

	h4 {
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		max-width: 500px;
		padding: 0;
	}

	p:last-of-type {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid @grey;
	}

	a {
		color: @main-blue;

		&:active {
			color: @highlight-blue;
		}
	}

	.row {
		line-height: @font-size + 13px;
	}

	.about-me, .at-a-glance {
		margin-right: 5px;
	}

	.cover-blurb, .bio-stats {
		padding: 0;
	}

	.bio-listing {
		display: inline-block;
	}

	.bio-prop {
		display: inline-block;
		margin: 2px 2px 2px 0;
		padding: 0;
		font-size: @font-size - 2px;
		text-transform: uppercase;
		color: @brick;

		.fas, .fab {
			margin-right: 4px;
		}
	}
}


/**************************
Resume Section Styles
**************************/
#Resume {
	max-width: 920px;
	h3 {
		color: @brick;
		margin-bottom: 0px;
		letter-spacing: -1px;
		text-shadow: 1px 1px @black-green;
		padding-bottom: 4px;
	}
}

.job-stats {
	// display: flex;
	// align-items: baseline;
	// margin: 0 10px 5px;
	// color: @carmine;
	line-height: @font-size;
	font-family: @header-font;
	text-transform: uppercase;

	div {
		display: inline-block;
		margin: 3px ;
		padding: 5px;
		// background: @carmine;
		color: #fff;
		text-shadow: 1px 1px @black;
		.loop-info(1, 4);
	}

	.loop-info(@n, @delta) when (@n < 20) {

		&:nth-child(@{n}) {
			// margin-right: -@delta + 30px;
			// margin-left: @delta;
			// font-size: -(@delta * 0.4) + 18px;
			// line-height: -(@delta * 0.9) + 18px;
			background-color: darken(@highlight-blue, @delta * 0.7);
			// background-color: hsl((@delta * 1.5), 75%, 60% - @delta * .5);
			// background-color: hsl((@delta * @randomizer), 70%, 20%);
		}
		.loop-info((@n + 1), (@delta + 5px));
	}

	.divider {
		align-self: center;
	}

	.job-employer {
		// font-weight: 900;
		// font-size: @font-size + 2px;
		// line-height: @font-size;
	}
}

/**************************
Portfolio
**************************/
#Portfolio {
	div[class^="col-"] {
		margin-bottom: 5px;
	}

	h2 {
		padding-bottom: 10px;
		border-bottom: 1px solid @grey;
	}

	h4 {
		margin-bottom: 5px;
	}
}

.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
	grid-gap: 2vw;
}

figure {

	figcaption {
		font-style: italic;
		font-size: @font-size - 2px;
		margin-top: 5px;
	}

	.img-container {
		max-height: 216px;
		overflow: hidden;
		border-radius: 3px;
		border: 5px solid #fff;
		box-shadow: 1px 1px 4px #bbb;

		img {
			width: 100%;
		}
	}
}

/**************************
Footer
**************************/
footer {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	font-size: @font-size - 3px;
	color: @dark-grey;

	background-color: #e8e8e8;
	border-top: 1px solid @grey;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 6px;
			padding: 2px;
			border-bottom: 1px solid transparent;
			font-size: @font-size;
			line-height: @font-size;
			letter-spacing: -0.75px;
			text-transform: uppercase;

			&:hover {
				color: @brick;
				border-bottom: 1px solid @brick;
			}
		}
	}

	.bio-icon a {
		color: inherit;
		font-size: @font-size;
		display: inline-block;
		padding: 10px;
		margin: 0 10px;
	}

	.bio-icon a:hover {
		color: @brick;
	}
}
